body {
    background: url(https://i.pinimg.com/originals/07/d7/b2/07d7b2d6ad7071cb82da2f0f3c6fbac9.jpg) center border-box;
    color: whitesmoke;
    font-size: 15pt;
    font-weight: 500;
}

.about {
    color: whitesmoke;
    font-size: 15pt;
    font-weight: 500;
}

.experience {
    color: whitesmoke;
    font-size: 15pt;
    font-weight: 500;
}

.contacts {
    color: whitesmoke;
    font-size: 15pt;
    font-weight: 500;
}